<% provide(:title,"about") %>

<h1>About</h1>
<p>This is a home page for the 
<a href="http://railstutorial.org" >Ruby on rails </a>
<a href="http://screencast.railstutorials.org"> screencasts series</a>
     to teach the web development with
     <a href="rubyonrails.org"> Ruby on Rails</a>.
     This is the sample application for the tutorial.
      </p>
     