<% provide(:title,"help") %>
<h1>Help</h1>
<p>Get help on the ruby on rails tutorial at the
<a href="http://railstutorial.org/#help" > Rails tutorial help section</a>
To get help on this sample app , see the
<a href="http://railstutorial.org/book"><em>Ruby on rails tutorial </em>book</a>
</p>
