<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>
<h2>
This is a home page for the 
<a href="http://railstutorial.org" >Ruby on rails </a>
      Sample Application
      </h2>
      <%= link_to "Sign up now!" ,signup_path,class:"btn btn-lg btn-primary" %>
      </div>
      
<%= link_to  image_tag("/assets/rails.png" , alt: "Rails logo" ) , 'http://rubyonrails.org/' %>


